h5py==3.10.0
imageio==2.33.1
matplotlib-inline==0.1.6
numpy==1.24.4
opencv-python==4.9.0.80
pandas==1.5.3
Pillow==10.2.0
pystackreg==0.2.7
scipy==1.9.3
tifffile==2023.4.12
xarray==0.15.1
dask[distributed]==2022.2.1
scanimage_tiff_reader==1.4.1.4
seaborn==0.12.2
scikit-image==0.21.0